<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="securityToolkit" type="Stk.Net.Framework.SecurityToolkitConfigSectionHandler,STK-1.1.0" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>  
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\STKLog\Log\stk.log" />
      <param name="AppendToFile" value="true" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="1MB" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %C{1}:%L - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <!--This filter will deny events that have a level that is lower than INFO or higher than FATAL. All events between INFO and FATAL will be logged.
      <levelMin value="INFO" />
      <levelMax value="FATAL" />-->
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\myDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />
    <pages enableViewStateMac="false" validateRequest="false"></pages>
    <customErrors mode="Off"></customErrors> 
    </system.web>
  <securityToolkit>
    <IsConfigCheckEnabled value="true"/>
    <IsValidationEnabled value="true"/>
    <IsEncodingEnabled value="true"/>
    <IsEncryptionEnabled value="true"/>
    <CreditCardRegex value="^(\\d{4}[- ]?){3}\\d{4}$"/>
    <EmailValidationRegex value="^[A-Za-z0-9._%'+-]+@[A-Za-z0-9.-]+\.[a-zA-Z]{2,4}$"/> 
    <SsnValidationRegex value="^(?!000)([0-6]\d{2}|7([0-6]\d|7[012]))([ -]?)(?!00)\d\d\3(?!0000)\d{4}$"/>
    <UrlRegex value="^(ht|f)tp(s?)\\:\\/\\/[0-9a-zA-Z]([-.\\w]*[0-9a-zA-Z])*(:(0-9)*)*(\\/?)([a-zA-Z0-9\\-\\.\\?\\,\\:\\'\\/\\\\\\+=&amp;%\\$#_]*)?$"/>
    <IPAddressRegex value="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"/>
    <SafeStringRegex value="^[a-zA-Z0-9\s.]{0,1024}$"/>
    <SafeStringNoLimitRegex value="^[a-zA-Z0-9\s.]*$"/>
    <AMACat1Regex value="^(\\d{5})$"/>
    <AMACat2Regex value="^([A-Za-z]\\d{4})$"/>
    <ICD9Regex value="^(\\d{5})$"/>
    <ICD10Regex value="^([A-Za-z]\\d{4})$"/>
    <WindowsCommandLineRegex value="^[^&amp;|]{0,1024}$"/>
    <LinuxCommandLineRegex value="^[^&amp;|;]{0,1024}$"/>
    <PasswordRegex value="^(((?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\\S+$).{8,})|((?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&amp;+=])(?=\\S+$).{8,})|((?=.*[0-9])(?=.*[A-Z])(?=.*[@#$%^&amp;+=])(?=\\S+$).{8,})|((?=.*[0-9])(?=.*[a-z])(?=.*[@#$%^&amp;+=])(?=\\S+$).{8,}))$" />
    <XPathRegex value="^[^*)(&amp;|!=&gt;&lt;~&quot;']{0,1024}$"     />
    <FilePathRegex value="^[a-zA-Z]:(/|\\\).*$"/>
    <SettingsKeyRegex value="^[a-zA-Z0-9._]*$"/>
    <SettingsValueRegex value="^[a-zA-Z0-9\s._\\-{}]*$"/>    
  </securityToolkit>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="">
          <security mode="Message">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="myHttp2">
          <security>
            <transport clientCredentialType="Digest" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="">
          <reliableSession />
          <binaryMessageEncoding />
          <windowsStreamSecurity />
          <httpTransport allowCookies="true" transferMode="Streamed" />
        </binding>
        <binding name="myCustom2">
          <reliableSession />
          <binaryMessageEncoding />
          <windowsStreamSecurity />
          <httpsTransport allowCookies="true" transferMode="Streamed" />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="">
          <security>
            <message clientCredentialType="IssuedToken" />
          </security>
        </binding>
      </netTcpBinding>
      <mexHttpBinding>
        <binding name="myMexHttpBinding" />
      </mexHttpBinding>
      <webHttpBinding>
        <binding name="">
          <security mode="Transport">
            <transport clientCredentialType="Digest" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"  />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
